# Notebook 1: How to use Python Notebooks

This notebook is intended for use within Google Colab.

# Introduction
Python notebooks are a way to interact with python code step by step. This notebook will teach you the basics of Google Colab and Python such that you are able to adequately use Python notebooks. You can collapse and expand each Concept as you complete the notebook with the arrow next to them: ![collapseexpand.png]()

# Concept 1: Structure of Notebooks



The entirety of a Python notebook is contained within either text boxes or code boxes.

The purpose of a text box is to contain text.

See below for an example of a text box:


> This is a text box. We can have any manner of text in here, it can be **bolded**, *italicized* and so on ðŸ˜€. You can double left click this box to edit the text inside. When editing, you can see what will be displayed at the left of the screen---->

The purpose of a code box is to contain Python code. This code can be ran to produce results, which are displayed below the box.

See below for an example of a code box (there is no need to mind what the code is doing for now):

In [ ]:
1+1

A code box doesn't do anything until it is ran. Hover over the code box and left click on the button that appears to the left of the box ![run button.png]() to run the above code and confirm that 1+1=2  (it will take a moment the first time code is ran in Colab, just be patient).

---

**TASK 1**

You can also create text and code boxes yourself. Create a text box underneath this one by either:



1.   Selecting this text box and left clicking the "+ Text" button at the top-left of the notebook ![create box button.png]()
2.   Hovering your mouse over the bottom edge of this text box and left clicking the "+ Text" button that appears ![create box button 2.png]()

Next, create a code box by selecting the "+ Code" button instead.

In your text box, type in your favourite colour. Next, copy the code from above calculating 1+1 into your own code box and confirm that it still displays 2.

# Concept 2: Mathematical Operations in Python



Along with addition, all of the other mathematical operations are also available in Python, including:



*   \- for subtraction
*   \* for multiplication
*   \/ for division
*   \*\* for exponentiation
* \/\/ for floor division

You may not be familiar with floor division. Floor division is essentially division with the result rounded down to the nearest whole number.

Parenthesis ```()``` also works as you would expect in Python.


Below are some examples showing you these operations in action. Run each example and make sure that they each return the result you would expect if you calculated it by hand.

In [ ]:
#Example 1

65-1

In [ ]:
#Example 2

2*16

In [ ]:
#Example 3

64/4

In [ ]:
#Example 4

(3**2+4**2)**0.5

In [ ]:
#Example 5

5//2

---
**TASK 2**


Create a code box underneath and compute twelve squared:

# Concept 3: Data Types



So far we have been working exclusively with numbers, or more precisely, integers and floats. Floats are the numbers with decimals (Examples 3 and 4 in the previous section) while the integers are the ones without (Examples 1, 2, and 5).

There isn't much functional difference between ```5``` as an integer and ```5.0``` as a float but it is important to be aware of the difference if you ever need a number to be one or the other.

There are also "strings" in Python. Whereas integers and floats are numbers, strings can be compared to words. You can create a string by surrounding code in quotation marks.

In [ ]:
#One as an integer:

type(1)

In [ ]:
#One as a float:

type(1.0)

In [ ]:
#One as a string:

type("1")

Run the below code and note how it produces an error:

In [ ]:
"1"+1

The code above doesn't make sense in the same way that ```"Twinkle, twinkle, little star" + 1``` doesn't make sense - you can't add a number to a sentence or a word, that is why it results in an error.


---
**TASK 3**

Edit the code below such that it solves the quadratic through the quadratic formula properly:

In [ ]:
#My quadratic is: x^2+3x+2

#Root 1
print((-3+("3**2-4*1*2")**0.5)/(2*1))

#Root 2
print((-3-("3"**2-4*1*2)**0.5)/(2*1))

The correct code should return two distinct roots: -1 and -2.

# Concept 4: Functions



You may have noticed we used a piece of code called ```print()``` in the last section. This is an example of a function.

Functions take in data of certain type and number (parameters) and performs a series of operations on it to achieve a certain effect. This description is rather vague, but that is because different functions are so varied in their purpose.

Let's look at the function ```print()```, this function displays the data given to it to the results box. Run the following code box:

In [ ]:
#Two calculations in a row:
1+1
2+2

Notice how only the second result (from 2+2) is displayed to you. Now run this next code box where we give the ```print()``` function ```1+1``` as a parameter:

In [ ]:
#Printing the first calculation and leaving the second alone:
print(1+1)
2+2

You can see that both results are displayed to you now. As mentioned, there are a great number of functions out there, if you ever encounter a function that you are not familiar with, it is worthwhile to search it up in Python's documentation or online websites.


---
**TASK 4**

The function ```type()``` returns the data type of the parameter given to it. Try using the  ```type() & print()``` functions to display both the data types of ```5``` and ```5.0```.

In [ ]:
5
5.0

Once ran, your code box should output the data types like so: ![t4 output.png]()

# Concept 5: Variables



Variables are a way to store your data such that you can reuse it easily. In addition, as your code becomes more complicated, it will also become confusing to understand and use; using variables alleviates this.

Variables can be visualized as a box with a label on it. You first put your number or word in the box by setting the label equal to it. Pay attention to how we assign the value to the variable. The name of the variable must be on the left of assignment operator ```=``` followed by the value on the right.

```variable_name = 5``` places the integer ```5``` into a variable called ```variable_name```:

![variable_example.png]()


When Python sees the label later in the code, it will look to whatever is in the box instead.

```variable_name + 1``` would return ```6```:

![variable_example 2.png]()



Here is an example on how variables can make the purpose of code clearer:

In [ ]:
(2+2+3+3+2+2+3)/(7)

It is difficult to discern what it is doing without any context.

However, by using variables:

In [ ]:
#Storing the numerator and the denominator in variables
number_of_vowels = 2+2+3+3+2+2+3
days_of_week = 7

#Before doing the divison using the variables instead
average_vowels = number_of_vowels/days_of_week
print(average_vowels)

It becomes somewhat apparent that the code is finding the average number of vowels in the names of the days of the week.

It's now also possible to use these variables again like so:

In [ ]:
number_of_consonants = 4+4+4+6+6+4+5

#Using the number_of_vowels variable we created before
vowel_ratio = number_of_vowels/number_of_consonants
print(vowel_ratio)

Notice how we could simply type in ```number_of_vowels``` without needing to compute the whole sum again.


---
**TASK 5**

Let's apply a variable to Task 4 from Concept 4.

Create a code box below, then by assigning the integer ```5``` to a variable:


1.   Print the data type of your variable
2.   Convert it to a float using ```your_variable = float(your_variable)``` and print out its data type again

The code should output the data types exactly like in Task 4.

# Concept 6: Lists



Whereas variables are similar to a box with a label on it, lists are similar to a row of boxes with a label on it. While a variable is capable of storing only one value, lists can store multiple.

We can create a list by separating each value with a comma and enclosing it all with square brackets like so: ```list_example = [value1, value2]```

```list_name = [5, 10, 15]``` places the integers 5, 10 and 15 into a list called ```list_name```:

![list_example.png]()

You may notice that there's a problem with this: If a list can store multiple values, how do we know which value is the one we want to take out and use?

This is where indexing comes in. The "boxes" of a list are labelled or indexed in order, starting from zero. By specifying the index of the list we want, we are able to retrieve the value from that index.

See the example below:

In [ ]:
#We first create a list.

street = [1, "Grafton", "Road"]

#To pick out the first value stored in the list, we use an index of zero.

street[0]

In [ ]:
#To pick out the second, use an index of one, and so on.

street[1]

In [ ]:
#Checking the whole list we can see everything we originally stored:

street

In [ ]:
#We can do everything we can with variables with each individual value of the list

street[0] = float(street[0])
street[1] = "The jaws that bite"
street[2] = "The claws that catch"

street

Notice how the values stored in the list can be of different types.


---
**TASK 6**

Edit and complete the code below such that it displays the first five prime numbers in order:

In [ ]:
your_list = [2, 3, 11, 7, 5]

print(your_list[0])
print(your_list[1])

# Concept 7: Libraries



Of course, many others have already created functions with specific uses in mind. Libraries are a collection of functions that you can import into Python and use yourself. NumPy is a specialised library for numerical calculations, we use it for extra mathematical operations and for creating specialized lists called arrays.

We first import the library with the syntax ```import library_name as prefix```:

In [ ]:
#Importing numpy with np as the prefix
import numpy as np

Since we imported the library as ```np``` we have to add ```np.``` to the front of the function we are using from that library. For instance, if we want to use ```exp()``` from Numpy to calculate Euler's number exponentiated to one, we do:

In [ ]:
np.exp(1)

Which gives us back Euler's number as we would expect.

Earlier in this section we mentioned creating something called "arrays".

Numpy's arrays are a type of list that are optimized for numerical calculations, hence we usually use these in physics. To turn a list into an array, we can use Numpy's ```array()``` function like so:

In [ ]:
#Creating a list first
example_list = [1,2,3,4]

#Then converting it into an array
new_array = np.array(example_list)

new_array

There are two functional differences between a list and an array.

1.   While Python's lists can contain multiple data types, Numpy's arrays can only contain one.
2.   Numpy's arrays allow element-by-element operations

You may be confused as to what the meaning of the second difference is. This is easier shown than explained. Consider the following example where we attempt to divide a list by two:

In [ ]:
python_list = [2,4,8,16]

result = python_list/2

Note how the code results in an error, compared to the next example where we divide an **array** by two:

In [ ]:
python_list = [2,4,8,16]

numpy_array = np.array(python_list)

result = numpy_array/2

print(result)

Which intuitively results in every value in the array being divided by two. It also changes what happens when you add lists from:

In [ ]:
#Concatenation
[1] + [1]

To:

In [ ]:
#Values are added
np.array([1]) + np.array([1])



We can import many different libraries at the same time. There is another important library that you will often be using and that is Matplotlib, a library specialized in graphing. You will be introduced to Matplotlib later in this notebook.

---
**TASK 7**


Now, create a code box below and use Numpy's ```sin()``` and ```cos()``` functions to:

*   Compute sine of 30 degrees and place it into a variable
*   Compute cosine of 60 degrees and place it into a variable
*   Display both results in an array
*   Print out the data type of your answer

Note that Numpy's trigonometric functions use radians, not degrees. To convert degrees to radians, apply this formula:
$$degrees/360 *2Ï€$$
You will not need to import Numpy again.

Your code should be displaying an array ```[0.5, 0.5]```. The numbers within may not be exactly 0.5 - this is because the trigonometric functions are approximated. The data type of the answer should read as ```numpy.ndarray```.

# Concept 8: While Loops



Loops are a way to deal with repetitive tasks in Python. They will also be your primary method of navigating through arrays.

While loops are based on the idea of running a piece of code over and over again **while** a logical statement remains true. They usually take this form:

```
while logical_statement:
  do_something_useful
  change_logical_statement

```
You may need a brief introduction to boolean expressions but these are quite intuitive:



*   Greater than, less than, greater or equal than, etc. all work as you would expect as ```>, <, >=``` and so on.
*   Equality is ```==``` not the ```=``` which we have been using to assign values to variables.
*  Connecting two expressions with ```and``` returns ```True``` if both are true
*  Connecting two expressions with ```or``` returns ```True``` if either are true


Here's an example:

In [ ]:
#creating my variables
growth = 5
stock = 0

#while growth is positive, add one to stock then decrease growth
while growth > 0:
  stock = stock + 1
  growth = growth - 0.5

#printing the end result of the variables
print(growth)
print(stock)

It can be seen that the code executed until ```growth > 0``` was no longer ```True```.

If you're unconvinced, you can move the ```print(growth)``` and ```print(stock)``` statements into the while loop so you can see how the variables change during the while loop.


---
**TASK 8**

Edit the code below such that it displays all the elements in the list:

(Hint: If your code is producing nothing at all, check the  ```while``` statement again)

In [ ]:
my_song = ["We're", "no", "strangers", "to", "love"]
index = 0
critical_error = 1
list_length = 5

while index < list_length and critical_error == 0:

  current_word = my_song[index]
  print(current_word)
  index = index + 2

# Concept 9: Using Matplotlib to Produce Graphs



We can now implement what we have learnt to produce graphs with Matplotlib's Pyplot library.

Let's try to make a simple line graph. The first step is of course, to ```import``` the library. From Matplotlib, we need Pyplot, so:

In [ ]:
#Importing pyplot (from matplotlib) with the prefix plt
import matplotlib.pyplot as plt

Now, we can't plot anything without x and y values right? Let's make some arrays and use those as values. Although earlier we made arrays by changing them by hand from lists, Numpy has some functions which can expedite this process.

Numpy's ```arange(start, stop, step)``` returns an array with values starting at ```start``` (inclusive) and ending at ```stop``` (exclusive), in increments of ```step```.

Here's an example of the function running:

In [ ]:
#np.arange with start = 1, stop = 5, step = 1:
np.arange(1,5,1)

Numpy's ```linspace(start, stop, number)``` returns an array with ```number``` values starting at ```start``` (inclusive) and ending at ```stop``` (inclusive).

Here's an example of the function running:

In [ ]:
#np.linspace with start = 1, stop = 4, number = 4:
np.linspace(1,4,4)

Now that we understand how to create the arrays we want, we can proceed:

In [ ]:
x_values = np.arange(1,5,1)
y_values = np.linspace(1,4,4)

print(x_values)
print(y_values)

Now to actually plot the values, we can use Matplotlib's ```plot()```. We also use ```title()``` to add a title and ```show()``` to display the graph:

In [ ]:
#Plotting y_values array against x_values array:
plt.plot(x_values, y_values)

#Setting "A Straight Line" as the title of the plot:
plt.title("A Straight Line")

#Displaying the graph:
plt.show()

This is perhaps, the most barebones graph you could make - Matplotlib's capabilities are much greater than this.

Setting that aside, it is important to note that there is nuance in how you plot values. Take for instance, this plot of y = sin(x):

In [ ]:
#Making new x_values and y_values:
x_values = np.linspace(0, 2*np.pi, 3)
y_values = np.sin(x_values)

#Putting labels on the x axis and y axis this time, and restricting the view of the graph to between y = -1.5 and y = 1.5
plt.plot(x_values, y_values)
plt.xlabel("x")
plt.ylabel("sin(x)")
plt.ylim(-1.5, 1.5)
plt.title("Plot of y = sin(x)")
plt.show()

Doesn't look very much like the sine function does it? It's as if we plotted y = 0 instead.

What exactly is the issue here? Well, create a code box below and have a look at our ```x_values```.

It's clear exactly what is happening now. With our current x values, we are plotting exactly **3** points:



1.   0, sin(0)
2.   Ï€, sin(Ï€)
3.   2Ï€, sin(2Ï€)

In other words:



1.   0, 0
2.   Ï€, 0
3.  2Ï€, 0

It's important to understand what you are doing in your code.


---
**TASK 9**


Here's the code from above again, alter it such that the graph has sufficient detail (but don't go overboard):

In [ ]:
x_values = np.linspace(0, 2*np.pi, 3)
y_values = np.sin(x_values)

plt.plot(x_values, y_values)
plt.xlabel("x")
plt.ylabel("sin(x)")
plt.ylim(-1.5, 1.5)
plt.title("Plot of y = sin(x)")
plt.show()

# Extension Activity 1: Defining a Function



You will often require functions which exceed the capabilities of the ones found in Python, or which are specific to what you are coding. To address this, we are able to define our own functions. The syntax for doing this is as follows:

```
def function_name(parameter1, parameter2):
    ... #statements which define function
    return output1, output2
```

Let me give you an example, the function below takes in an integer or a float and returns that number exponentiated to 3, 6 and 9:

In [ ]:
#Defining the function:
def exponentiate_369(number):
  exponent3 = number**3
  exponent6 = number**6
  exponent9 = number**9

  return exponent3, exponent6, exponent9

#Using the function:
all_results = exponentiate_369(2)
all_results

There are some very important points that you should note:


*   You can have any number of parameters defined in a function, the function above has one: ```number```
*   Whatever value is given to the function as a parameter takes the place of the name of the parameter in the rest of the function. In the example above, we gave that function ```2```. The following numbers ```exponent3```, ```exponent6``` and ```exponent9``` were then calculated with ```2``` in place of ```number```
* You can have any number of outputs defined in a function, the function above has three. The ```print()``` function would be an example of a function that has zero.
* The code that is defining the function is indented once past the ```def``` statement.


---
**TASK 10**


Create a code box below, and try defining a function that takes in two numbers and returns their sum as a float. Check that it works by evaluating a sum of your choice and that the ```type()``` function shows that it is a float.

# Extension Activity 2: For Loops




We also have for loops. For loops are based on the idea of running a piece of code **for** a certain number of times. They usually take this form:

```
for value in a_sequence:
  do_something_useful

```

Here's an example:

In [ ]:
#creating a list with values "Apple", "Salmon" and 1
fruit_basket = ["Apple", "Salmon", 1]

#for each value in the list, check if the value is a string, then print something depending on whether it is or not
for fruit in fruit_basket:

  if type(fruit) == type("string"):
    print(fruit + " is my favourite fruit")

  else:
    print(str(fruit) + " is not a fruit.")

#printing the end result of the fruit variable
print(fruit)

Note how the code within the loop was ran once for every value in the list, and that the value in the list took the place of ```fruit``` in the code. In addition, the ```fruit``` variable did not need to be created prior to the for loop.


---
**TASK 11**

Try using a for loop below to change the given list such that each value has been divided by two:

(Hint: Have a variable that keeps track of what index of the list that the for loop is on)

In [ ]:
my_numbers = [2,4,6,8,10]



print(my_numbers)

Check that the list is now ```[1, 2, 3, 4, 5]```. Remember that you are altering the *original* list - not making a new one.